name: Traffic Logger

on:
  schedule:
    - cron: "0 23 * * *"
  workflow_dispatch:

jobs:
  collect-traffic:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run GitHub Repo Stats
        uses: jgehrcke/github-repo-stats@v1
        with:
          ghtoken: ${{ secrets.TRAFFIC_TOKEN }}
          publish_branch: gh-pages
          # This helps diagnose the exact failure point
          debug: true
